language: node_js
node_js: "8"
cache: yarn
jobs:
  include:
    - stage: lint
      script: yarn lint
    -
      script: cd web && yarn install && yarn lint
    - stage: test
      script: cd web && yarn install && yarn test
    - stage: deploy
      script: echo "deploy"
