.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height:           150px;
  padding:          20px;
  color:            white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loader {
  border:             16px solid #f3f3f3;
  border-radius:      50%;
  border-top:         16px solid #3498db;
  width:              120px;
  height:             120px;
  -webkit-animation:  spin 2s linear infinite;
  animation:          spin 2s linear infinite;
  display:            block;
  margin:             0 auto;
  margin-top:         10em;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

li:hover {
  background-color: lightgray;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

.td-center {
  text-align: center;
}

.detail-link {
  text-align: center;
}
